@model X.PagedList.IPagedList<BPX.Domain.ViewModels.RoleMiniViewModel>

@using BPX.Website.CustomCode.Authorize;
@using BPX.Utils;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@{
    ViewBag.Title = "List of Roles";
    ViewBag.pageNumber = (ViewBag.pageNumber ?? 1);
    ViewBag.pageSize = (ViewBag.pageSize ?? 10);
    ViewBag.statusFlag = (ViewBag.statusFlag ?? string.Empty);
    ViewBag.sortByColumn = (ViewBag.sortByColumn ?? string.Empty);
    ViewBag.sortOrder = (ViewBag.sortOrder ?? string.Empty);
    ViewBag.searchForString = (ViewBag.searchForString ?? string.Empty);
    ViewBag.filterJson = (ViewBag.filterJson ?? string.Empty);

    // local variables
    var localSortOrder = "";
    var localSortIcon = "";
}

<div class="row">
    <div class="col-md-12">
        <h5>@ViewBag.Title</h5>
    </div>
</div>

<p></p>
<hr />

<div class="row">
    <div class="col-md-9">
        @if (((List<int>)ViewBag.currUserPermitIds).Contains(Permits.Identity.Role.Create))
        {
            <a asp-action="Create" class="btn btn-primary fa-sm" title="Add Role"><i class="bi-plus-circle"></i> &nbsp; Add Role</a>
        }
    </div>
    <div class="col-md-3">
        <div class="input-group">
            @if (((List<int>)ViewBag.currUserPermitIds).Contains(Permits.Identity.Role.Filter))
            {
                <input id="searchInput" name="searchInput" type="text" class="form-control" placeholder="Search data" value="@ViewBag.searchForString">
                <div class="input-group-append">
                    <button id="searchBtn" class="btn btn-primary" type="button">
                        <i class="bi-funnel"></i>
                    </button>
                </div>
            }
        </div>
    </div>
</div>

<p></p>

<div class="row" style="min-height: 398px;">
    <div class="col-12">
        <table class="table table-sm table-striped table-hover border-bottom table-bordered">
            <thead>
                <tr>
                    @{
                        localSortOrder = "";
                        localSortIcon = "fa-sort";

                        if (ViewBag.sortByColumn.Equals("RoleId"))
                        {
                            localSortOrder = ViewBag.sortOrder;

                            if (localSortOrder.ToUpper().Equals(SortOrder.Ascending.ToUpper()))
                                localSortIcon += "-" + "up";
                            if (localSortOrder.ToUpper().Equals(SortOrder.Descending.ToUpper()))
                                localSortIcon += "-" + "down";
                        }
                    }
                    <th class="text-center" style="width:75px;">Id <span class="fa @localSortIcon sortBtn" style="float: right; margin-top: 5px;" sortByColumn="RoleId" sortOrder="@localSortOrder"></span></th>
                    @{
                        localSortOrder = "";
                        localSortIcon = "fa-sort";

                        if (ViewBag.sortByColumn.Equals("RoleName"))
                        {
                            localSortOrder = ViewBag.sortOrder;

                            if (localSortOrder.ToUpper().Equals(SortOrder.Ascending.ToUpper()))
                                localSortIcon += "-" + "up";
                            if (localSortOrder.ToUpper().Equals(SortOrder.Descending.ToUpper()))
                                localSortIcon += "-" + "down";
                        }
                    }
                    <th style="width:175px;">Role Name <span class="fa @localSortIcon sortBtn" style="float: right; margin-top:5px;" sortByColumn="RoleName" sortOrder="@localSortOrder"></span></th>
                    @{
                        localSortOrder = "";
                        localSortIcon = "fa-sort";

                        if (ViewBag.sortByColumn.Equals("RoleDescription"))
                        {
                            localSortOrder = ViewBag.sortOrder;

                            if (localSortOrder.ToUpper().Equals(SortOrder.Ascending.ToUpper()))
                                localSortIcon += "-" + "up";
                            if (localSortOrder.ToUpper().Equals(SortOrder.Descending.ToUpper()))
                                localSortIcon += "-" + "down";
                        }
                    }
                    <th>Role Description <span class="fa @localSortIcon sortBtn" style="float: right; margin-top: 5px;" sortByColumn="RoleDescription" sortOrder="@localSortOrder"></span></th>
                    <th class="text-center" style="width:175px;">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count.Equals(0))
                {
                    <tr>
                        <td colspan="4">
                            No matching records found.
                        </td>
                    </tr>
                }

                @if (Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.RoleId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoleDescription)
                            </td>
                            <td class="text-center">
                                @if (((List<int>)ViewBag.currUserPermitIds).Contains(Permits.Identity.Role.Read))
                                {
                                    <a asp-action="Read" asp-route-id="@item.RoleId" title="view" class="bi-search" style="text-decoration: none; color: darkslategray;"></a>
                                }
                                @if (((List<int>)ViewBag.currUserPermitIds).Contains(Permits.Identity.Role.Update))
                                {
                                    @Html.Raw("&nbsp;&nbsp;&nbsp;") <a asp-action="Update" asp-route-id="@item.RoleId" title="edit" class="bi-pencil" style="text-decoration: none; color: darkslategray;"></a>
                                }
                                @if (((List<int>)ViewBag.currUserPermitIds).Contains(Permits.Identity.Role.Delete))
                                {
                                    @Html.Raw("&nbsp;&nbsp;&nbsp;") <a asp-action="Delete" asp-route-id="@item.RoleId" title="delete" class="bi-trash" style="text-decoration: none; color: darkslategray;"></a>
                                }
                                @if (((List<int>)ViewBag.currUserPermitIds).Contains(Permits.Identity.Role.RolePermits))
                                {
                                    @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;") <a asp-action="RolePermits" asp-route-id="@item.RoleId" title="delete" class="far fa-address-card xbi-person-badge" style="text-decoration: none; color: darkslategray;"></a>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        &nbsp; | &nbsp;
        Show
        <select id="pageSizeInput">
            <option value="10" selected="@(ViewBag.pageSize.Equals(10))">10</option>
            <option value="25" selected="@(ViewBag.pageSize.Equals(25))">25</option>
            <option value="50" selected="@(ViewBag.pageSize.Equals(50))">50</option>
            <option value="100" selected="@(ViewBag.pageSize.Equals(100))">100</option>
        </select>
        Entries
        <p></p>
        @if (((List<int>)ViewBag.currUserPermitIds).Contains(Permits.Identity.Role.ListDeleted))
        {
            <a asp-action="ListDeleted">View deleted records</a>
        }
    </div>
    <div class="col-md-8 text-right" style="margin-top: -1.2rem;">
        @Html.PagedListPager(Model, page => Url.Action("List", new { page = page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
</div>

<div>
    <form id="formForPaging" asp-action="List" method="post">
        <input type="hidden" id="pageNumber" name="pageNumber" value="1" />
        <input type="hidden" id="pageSize" name="pageSize" value="10" />
        <input type="hidden" id="statusFlag" name="statusFlag" value="" />
        <input type="hidden" id="sortByColumn" name="sortByColumn" value="" />
        <input type="hidden" id="sortOrder" name="sortOrder" value="" />
        <input type="hidden" id="searchForString" name="searchForString" value="" />
        <input type="hidden" id="filterJson" name="filterJson" value="" />
    </form>
</div>

@section ScriptsAtBottom
{
<script type="text/javascript">
    var pageNumber = @ViewBag.pageNumber;
    var pageSize = @ViewBag.pageSize;
    var statusFlag = "@ViewBag.statusFlag";
    var sortByColumn = "@ViewBag.sortByColumn";
    var sortOrder = "@ViewBag.sortOrder";
    var searchForString = "@ViewBag.searchForString";
    var filterJson = "@ViewBag.filterJson";

    $(document).ready(function () {
        // on pagedList click. Intercept the default GET ?page=x action and instead perform POST
        $(".pagination-container a").click(function (e) {
            if (this.href.split("page=")[1] != undefined) {
                e.preventDefault();
                pageNumber = this.href.split("page=")[1];

                submitFormForPaging();
            }
        });

        // on pageSize change
        $("#pageSizeInput").change(function() {
            pageNumber = 1;
            pageSize = this.value;

            submitFormForPaging();
        });

        // on enter in searchInput
        $("#searchInput").keypress(function (e) {
            if (e.which == 13) {
                pageNumber = 1;
                sortByColumn = "";
                sortOrder = "";
                searchForString = $("#searchInput").val();

                submitFormForPaging();
            }
        });

        // on search button click
        $("#searchBtn").click(function () {
            pageNumber = 1;
            sortByColumn = "";
            sortOrder = "";
            searchForString = $("#searchInput").val();

            submitFormForPaging();
        });

        // on sort button clicks in sortable columns
        $(".sortBtn").click(function () {
            sortByColumn = $(this).attr("sortByColumn");
            var tempSortOrder = $(this).attr("sortOrder");

            if ($(this).attr("sortOrder").length == 0) {
                sortOrder = "asc";
            }
            else {
                if ($(this).attr("sortOrder").toLowerCase() == "desc") {
                    sortOrder = "asc";
                }
                else {
                    sortOrder = "desc";
                }
            }

            $(this).attr("sortOrder", sortOrder)

            submitFormForPaging();
        });
    });

    // submit form for paging
    function submitFormForPaging() {
        $("#pageNumber").val(pageNumber);
        $("#pageSize").val(pageSize);
        $("#statusFlag").val(statusFlag);
        $("#sortByColumn").val(sortByColumn);
        $("#sortOrder").val(sortOrder);
        $("#searchForString").val(searchForString);
        $("#filterJson").val(filterJson);

        $("#formForPaging").submit();
    }
</script>
}

@*
    https://webdesignerwall.com/wdw-snippet/bootstrap-4-text-input-with-search-icon
*@