@model BPX.Domain.ViewModels.MenuMiniViewModel

@using BPX.Website.CustomCode.Authorize;

@{
	ViewData["Title"] = "Create Menu";
}

<div class="row">
	<div class="col-md-12">
		<h5>@ViewBag.Title</h5>
	</div>
</div>

<p></p>
<hr />

<div class="row">
	<div class="col-md-12">
		<form asp-action="Create">
			@*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
			@*<input type="hidden" asp-for="MenuId" />*@
			<div class="row form-group">
				<div class="col-md-2">
					<label asp-for="MenuName" class="control-label"></label>
				</div>
				<div class="col-md-4 input-group">
					<div class="input-group-prepend">
						<span class="input-group-text bi-at"></span>
					</div>
					<input asp-for="MenuName" class="form-control" />
				</div>
				<div class="col-md-6">
					<i class="bi-asterisk" style="color:red; margin-left:-22px; padding-right:5px; font-size: 0.5rem;" aria-hidden="true"></i>
					<span asp-validation-for="MenuName" class="text-danger"></span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-2">
					<label asp-for="MenuDescription" class="control-label"></label>
				</div>
				<div class="col-md-4 input-group">
					<div class="input-group-prepend">
						<span class="input-group-text bi-card-text"></span>
					</div>
					<input asp-for="MenuDescription" class="form-control" />
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-2">
					<label asp-for="MenuURL" class="control-label"></label>
				</div>
				<div class="col-md-4 input-group">
					<div class="input-group-prepend">
						<span class="input-group-text bi-link"></span>
					</div>
					<input asp-for="MenuURL" class="form-control" value="@ViewBag.parentMenu.MenuURL" />
				</div>
				<div class="col-md-6">
					<i class="bi-asterisk" style="color:red; margin-left:-22px; padding-right:5px; font-size: 0.5rem;" aria-hidden="true"></i>
					<span asp-validation-for="MenuURL" class="text-danger"></span>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-2">
					<label asp-for="ParentMenuId" class="control-label"></label>
				</div>
				<div class="col-md-4 input-group">
					<div class="input-group-prepend">
						<span class="input-group-text bi-people"></span>
					</div>
					<input asp-for="ParentMenuId" class="form-control" value="@ViewBag.parentMenu.MenuId" readonly />
				</div>
				<div class="col-md-6">
					<i class="bi-asterisk" style="color:red; margin-left:-22px; padding-right:5px; font-size: 0.5rem;" aria-hidden="true"></i>
					<span asp-validation-for="ParentMenuId" class="text-danger"></span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-2">
					<label asp-for="OrderNumber" class="control-label"></label>
				</div>
				<div class="col-md-4 input-group">
					<div class="input-group-prepend">
						<span class="input-group-text bi-list-ol"></span>
					</div>
					<input asp-for="OrderNumber" class="form-control" value="1" />
				</div>
				<div class="col-md-6">
					<i class="bi-asterisk" style="color:red; margin-left:-22px; padding-right:5px; font-size: 0.5rem;" aria-hidden="true"></i>
					<span asp-validation-for="OrderNumber" class="text-danger"></span>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-2">
					&nbsp;
				</div>
				<div class="col-md-4 input-group">
					<input type="submit" value="   Create   " class="btn btn-primary" />
					<span style="margin: 5px 0 0 10px">
						@if (((List<int>)ViewBag.currUserPermitIds).Contains(Permits.Identity.Menu.List))
						{
							@Html.Raw("&nbsp; &nbsp; | &nbsp; &nbsp;"); <a asp-action="Index">Back to List</a>
						}
					</span>
				</div>
				<div class="col-md-6">
					&nbsp;
				</div>
			</div>
		</form>
	</div>
</div>

@section ScriptsAtBottom {
	<partial name="_PartialValidationScripts" />

	<script type="text/javascript">
		$(document).ready(function () {
			var parentMenuURL = "@ViewBag.parentMenu.MenuURL";
			var tempMenuURL = "";

			@Html.Raw("$(\"#MenuName" + "\").keyup(function () {\n")
			@Html.Raw("     tempMenuURL = parentMenuURL + '/' + this.value;\n")
			@*@Html.Raw("     alert(tempMenuURL);\n")*@
			@Html.Raw("     $(\"#MenuURL" + "\").val(tempMenuURL);\n")
			@Html.Raw("});\n\n")
		});
	</script>
}