@model IEnumerable<BPX.Domain.ViewModels.MenuMiniViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-sm table-striped table-hover border-bottom table-bordered">
	<thead>
		<tr>
			@*<th>
				@Html.DisplayNameFor(model => model.MenuId)
			</th>*@
			<th>
				@*@Html.DisplayNameFor(model => model.MenuName)*@
				Name
			</th>
			@*<th>
				@Html.DisplayNameFor(model => model.MenuDescription)
			</th>*@
			<th>
				@*@Html.DisplayNameFor(model => model.MenuURL)*@
				URL
			</th>
			@*<th>
				@Html.DisplayNameFor(model => model.ParentMenuId)
			</th>*@
			@*<th>
				@Html.DisplayNameFor(model => model.HLevel)
			</th>*@
			<th>
				@*@Html.DisplayNameFor(model => model.OrderNumber)*@
				Order
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TreePath)
			</th>
			<th>
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				@*<td>
					@Html.DisplayFor(modelItem => item.MenuId)
				</td>*@
				<td>
					@{
						for (int i = 2; i <= item.HLevel - 1; i++)
						{
							@Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")
						}

						if (item.ParentMenuId.Equals(0))
						{
							<span class="bi-house-fill">&nbsp;</span>
						}
					}

					@Html.DisplayFor(modelItem => item.MenuName)
				</td>
				@*<td>
					@Html.DisplayFor(modelItem => item.MenuDescription)
				</td>*@
				<td>
					@Html.DisplayFor(modelItem => item.MenuURL)
				</td>
				@*<td>
					@Html.DisplayFor(modelItem => item.ParentMenuId)
				</td>*@
				@*<td>
					@Html.DisplayFor(modelItem => item.HLevel)
				</td>*@
				<td>
					@Html.DisplayFor(modelItem => item.OrderNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TreePath)
				</td>
				<td style="padding-left: 1em; padding-right:1em;">
					@{ 
						if (item.ParentMenuId.Equals(0))
						{
							@Html.Raw(" -- root menu element --")
						}
						else
						{
							<a asp-area="Identity" asp-controller="Menu" asp-action="Create" asp-route-id="@item.MenuId" title="create" class="bi-plus-circle" style="text-decoration: none;"></a> @Html.Raw("&nbsp;&nbsp;&nbsp;")
							<a asp-area="Identity" asp-controller="Menu" asp-action="Read" asp-route-id="@item.MenuId" title="read" class="bi-eye" style="text-decoration: none;"></a> @Html.Raw("&nbsp;&nbsp;&nbsp;")
							<a asp-area="Identity" asp-controller="Menu" asp-action="Update" asp-route-id="@item.MenuId" title="update" class="bi-pencil" style="text-decoration: none;"></a> @Html.Raw("&nbsp;&nbsp;&nbsp;")
							<a asp-area="Identity" asp-controller="Menu" asp-action="Delete" asp-route-id="@item.MenuId" title="delete" class="bi-trash" style="text-decoration: none;"></a> @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")
							<a asp-area="Identity" asp-controller="Menu" asp-action="Permit" asp-route-id="@item.MenuId" title="permit" class="bi-person-badge" style="text-decoration: none;"></a> @Html.Raw("&nbsp;&nbsp;&nbsp;")
						}
					}
				</td>
			</tr>
		}
	</tbody>
</table>
