@model IEnumerable<BPX.Domain.ViewModels.MenuMiniViewModel>

@using BPX.Website.CustomCode.Authorize;

@{
	ViewData["Title"] = "Index";
}

<h1>Menu Hierarchy Deleted</h1>

<table class="table table-sm table-striped table-hover border-bottom table-bordered">
	<thead>
		<tr>
			@*<th>
					@Html.DisplayNameFor(model => model.MenuId)
				</th>*@
			<th>
				@*@Html.DisplayNameFor(model => model.MenuName)*@
				Name
			</th>
			@*<th>
					@Html.DisplayNameFor(model => model.MenuDescription)
				</th>*@
			<th>
				@*@Html.DisplayNameFor(model => model.MenuURL)*@
				URL
			</th>
			@*<th>
					@Html.DisplayNameFor(model => model.ParentMenuId)
				</th>*@
			@*<th>
					@Html.DisplayNameFor(model => model.HLevel)
				</th>*@
			<th>
				@*@Html.DisplayNameFor(model => model.OrderNumber)*@
				Order
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TreePath)
			</th>
			<th style="width:250px;">
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				@*<td>
						@Html.DisplayFor(modelItem => item.MenuId)
					</td>*@
				<td>
					@{
						for (int i = 2; i <= item.HLevel - 1; i++)
						{
							@Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")
						}

						if (item.ParentMenuId.Equals(0))
						{
							<span class="bi-house-fill">&nbsp;</span>
						}
					}

					@Html.DisplayFor(modelItem => item.MenuName)
				</td>
				@*<td>
						@Html.DisplayFor(modelItem => item.MenuDescription)
					</td>*@
				<td>
					@Html.DisplayFor(modelItem => item.MenuURL)
				</td>
				@*<td>
						@Html.DisplayFor(modelItem => item.ParentMenuId)
					</td>*@
				@*<td>
						@Html.DisplayFor(modelItem => item.HLevel)
					</td>*@
				<td>
					@Html.DisplayFor(modelItem => item.OrderNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TreePath)
				</td>
				<td style="padding-left: 1em; padding-right:1em;">
					@if (((List<int>)ViewBag.currUserPermitIds).Contains(Permits.Identity.User.Undelete))
					{
						<a asp-area="Identity" asp-controller="Menu" asp-action="Undelete" asp-route-id="@item.MenuId" title="restore" class="bi-power" style="text-decoration: none; color: darkslategray;"></a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
